<Configuration monitorInterval="5">
    <Appenders>
        <RollingFile name="file-log" fileName="${env:catalina.home}/logs/simplerest/simplerest.log"
                     filePattern="${env:catalina.home}/logs/simplerest/simplerest-%d{yyyy-MM-dd-HH}-%i.log">
            <PatternLayout pattern="%highlight{%d %-5p %logger{1}:%L - %m%n}{INFO=green}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d %-5p %logger{1}:%L - %m%n}" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file-log"/>
        </Root>

        <Logger name="org.springframework" level="INFO"/>
        <Logger name="ru.sitecab.app.server" level="TRACE"/>
        <Logger name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLoggingListener" level="WARN"/>
    </Loggers>
</Configuration>